In [2]:
import pandas as pd

In [95]:
oo=pd.read_csv("/Users/Parshu/Parshu_Pandas/airports.csv")
#oo=pd.read_csv("/Users/Parshu/Parshu_Pandas/airports.csv",skiprows=2)
#oo.head(4)
#pd.read_table('http://bit/ly/uforeports',sep=',')
#(rows,column)
#oo.shape
#oo.info
#oo.type.value_counts(ascending=True,dropna=False)
oo.head(6)
#oo.sort_values(by=['id','name'])
#oo['continent']=='AS'
#oo[(oo.continent=='AS') & (oo.iso_country=='SA')]
#oo[oo.name.str.contains('Batha')]
#type(oo.index)
#oo.index[:-1]
#oo.set_index('name',inplace=True)
#oo.sort_index(inplace=True)
#oo.head()
#oo.reset_index()
#ex1=oo.set_index('name')
#ex1
#ex1.head()
#oo.loc[oo.id==43758]
#oo.iloc[43758,6525]
oo.loc[oo.ident=='00A'].groupby('longitude_deg').agg({'min'})

,id,ident,type,name,latitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
,min,min,min,min,min,min,min,min,min,min,min,min,min,min,min,min,min
longitude_deg,,,,,,,,,,,,,,,,,
-74.933601,6523,00A,heliport,Total Rf Heliport,40.070801,11.0,NaN,US,US-PA,Bensalem,no,00A,NaN,00A,NaN,NaN,NaN

In [74]:
oo.shape

(57214, 18)